fastapi
uvicorn>=0.27.0
websockets>=12.0
python-dotenv>=1.0.0

llama-index
llama-index-vector-stores-faiss

openai>=1.12.0

faiss-cpu>=1.7.4

# plantuml-markdown>=3.9.2
# drawio.py>=0.0.3

# sqlalchemy>=2.0.0
# sqlite3>=3.35.0
# mypy>=1.8.0
# ruff>=0.2.0
# pytest>=8.0.0
# pytest-cov>=4.1.0
# black>=24.1.0
# isort>=5.13.0

# types-all>=1.0.0 